.main-container {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.11);
}

.side-content,
.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.main-content h1 {
  font-family: var(--secondary-font);
  color: var(--darker-green);
  font-size: 2.3rem;
  margin-top: 1rem;
  margin-bottom: -2rem;
  padding: 0 2rem;
  z-index: 0;
}

.main-content p {
  font-family: var(--primary-font);
  font-size: 1.1rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
  padding: 0 2rem;
}

.desktop-btn {
  display: none;
}

.side-content img {
  margin-top: -3rem;
}

.mobile-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--dark-green);

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--main-bg);
  text-decoration: none;

  border: none;
  border-radius: 5px;

  width: 80%;
  height: 3.5rem;

  margin-top: 1rem;
}

.mobile-btn:active,
.mobile-btn:focus {
  background-color: var(--regular-green);
}

@media (min-width: 1100px) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-content {
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    padding-left: 10%;
    z-index: 10;
  }

  .main-content h1 {
    font-size: 5rem;
    padding: 0 auto;
  }

  .main-content p {
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 1.5rem;
    width: 90%;
  }

  .desktop-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-green);

    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--main-bg);
    text-decoration: none;

    border: none;
    border-radius: 5px;

    width: 45%;
    height: 4rem;

    margin-top: 1rem;
    margin-left: 2rem;

    transition: 0.2s;
  }

  .desktop-btn:hover {
    background-color: var(--regular-green);
  }

  .side-content {
    width: 40%;
  }

  .side-content img {
    margin-top: 0;
    height: 630px;
    width: 630px;
    padding-right: 50%;
  }

  .mobile-btn {
    display: none;
  }
}

@media (min-width: 1850px) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-content {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8%;
    z-index: 10;
  }

  .main-content h1 {
    font-size: 5rem;
    padding: 0 auto;
  }

  .main-content p {
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 1.5rem;
    width: 90%;
  }

  .desktop-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-green);

    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--main-bg);
    text-decoration: none;

    border: none;
    border-radius: 5px;

    width: 45%;
    height: 4rem;

    margin-top: 1rem;
    margin-left: 2rem;

    transition: 0.2s;
  }

  .desktop-btn:hover {
    background-color: var(--regular-green);
  }

  .main-content {
    width: 65%;
  }
  .side-content {
    width: 35%;
  }

  .side-content img {
    margin-top: 0;
    height: 800px;
    width: 900px;
    padding-right: 70%;
  }

  .mobile-btn {
    display: none;
  }
}
