.tab-list {
  display: none;
}

@media (min-width: 1100px) {
  .tab-list,
  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    gap: 3rem;
  }

  .tab {
    width: 5rem;
    height: 3rem;
    background-color: transparent;

    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-size: 1.2rem;
    color: var(--darker-brown);

    border: solid transparent 2px;

    transition: 0.2s;
  }

  .link {
    text-decoration: none;
  }

  .tab:hover {
    color: var(--light-brown);
    border-bottom: solid var(--light-brown) 2px;
  }
}
